.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    padding-top: 5px;
    background-color: white;
    width: 72px;
    z-index: 101;
}
.sidebar-link {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    height: 74px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}
.sidebar-link img {
    height: 24px;
    width: 24px;

}
.sidebar-link div {
    font-size: 10px;
}